<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cse.Mapper.InformationClassMapper">
    <select id="getInformationClassByRule" resultType="com.example.cse.Entity.InformationClass.InformationClass">
        select * from information_class
        <where>
            <if test="Cid != null">
                Cid = #{Cid}
            </if>
            <if test="RelativeMessage != null">
                Cid in (select Cid from cse.message_information_class where Mid = #{RelativeMessage})
            </if>
            <if test="RelativeLocation != null">
                Location = #{RelativeLocation}
            </if>
        </where>
    </select>

    <insert id="newInformationClass" >
        insert into information_class (Name, Resume, BasicMessage, Location, Type) VALUES (#{name}, #{resume}, #{basicMessage}, #{location}, #{type})
    </insert>

    <update id="updateInformationClass">
        update information_class
        <set>
            <if test="name != null"> Name = #{name}, </if>
            <if test="resume != null"> Resume = #{resume}, </if>
            <if test="basicMessage != null"> BasicMessage = #{basicMessage}, </if>
            <if test="location != null"> Location = #{location}, </if>
            <if test="type != null"> Type = #{type} </if>
        </set>
        where Cid = #{Cid};
    </update>
</mapper>