<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cse.Mapper.InformationClassMapper">
    <select id="getInformationClassByRule" resultType="com.example.cse.Entity.InformationClass.InformationClass">
        select * from information_class
        <where>
            <if test="Cid != null">
                Cid = #{Cid}
            </if>
            <if test="RelativeMessage != null">
                Cid in (select Cid from cse.message_information_class where Mid = #{RelativeMessage})
            </if>
            <if test="RelativeLocation != null">
                Cid in (select Cid from cse.information_class_location where Lid = #{RelativeLocation})
            </if>
        </where>
    </select>

    <insert id="newInformationClass" >
        insert into information_class (Name, Resume, BasicMessage, Type) VALUES (#{name}, #{resume}, #{basicMessage}, #{type})
    </insert>

    <update id="updateInformationClass">
        update information_class
        <set>
            <if test="name != null"> Name = #{name}, </if>
            <if test="resume != null"> Resume = #{resume}, </if>
            <if test="basicMessage != null"> BasicMessage = #{basicMessage}, </if>
            <if test="type != null"> Type = #{type} </if>
        </set>
        where Cid = #{cid};
    </update>

    <select id="searchInformationClass" resultType="com.example.cse.Entity.InformationClass.InformationClass">
        select * from information_class
        <where>
            <if test="Type!=null">
                Type = #{Type}
            </if>
            <if test="Adds!=null and Adds.size > 0" >
                 <foreach collection="Adds" item="Add" open="and concat(Name,Resume) regexp concat_ws('&amp;'," close=")" separator=",">
                    #{Add}
                 </foreach>
            </if>
            <if test="Defaults!=null and Defaults.size > 0" >
                <foreach collection="Defaults" item="Default" open="and concat(Name,Resume) regexp concat_ws('|'," close=")" separator=",">
                    #{Default}
                </foreach>
            </if>
            <if test="Minuses!=null and Minuses.size > 0" >
                <foreach collection="Minuses" item="Minus" open="and not concat(Name,Resume) regexp concat_ws('|'," close=")" separator=",">
                    #{Minus}
                </foreach>
            </if>
        </where>
    </select>
</mapper>