<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cse.Mapper.LocationMapper">
    <select id="getLocationByRule" resultType="com.example.cse.Entity.InformationClass.Location">
        select * from location
        <where>
            <if test="Lid != null">
                Lid = #{Lid}
            </if>
            <if test="RelativeMessage != null">
                and Lid in (select Lid from cse.message_Location where Mid = #{RelativeMessage})
            </if>
        </where>
    </select>

    <insert id="newLocation" >
        insert into location (Name, Resume, BasicMessage, MapBelong,ImgHref) VALUES (#{name}, #{resume}, #{basicMessage}, #{mapBelong}, #{imgHref});
    </insert>

    <update id="updateLocation">
        update location
        <set>
            <if test="name != null"> Name = #{name}, </if>
            <if test="resume != null"> Resume = #{resume}, </if>
            <if test="basicMessage != null"> BasicMessage = #{basicMessage}, </if>
            <if test="mapBelong != null"> MapBelong = #{mapBelong} </if>
            <if test="mapOwn != null"> MapOwn = #{mapOwn}, </if>
            <if test="imgHref != null"> ImgHref = #{imgHref} </if>
        </set>
        where Lid = #{lid};
    </update>

    <select id="searchLocation" resultType="com.example.cse.Entity.InformationClass.Location">
        select * from location
        <where>
            <if test="Adds!=null and Adds.size > 0" >
                <foreach collection="Adds" item="Add" open="concat(Name,Resume) regexp concat_ws('&amp;'," close=")" separator=",">
                    #{Add}
                </foreach>
            </if>
            <if test="Defaults!=null and Defaults.size > 0" >
                <foreach collection="Defaults" item="Default" open="and concat(Name,Resume) regexp concat_ws('|'," close=")" separator=",">
                    #{Default}
                </foreach>
            </if>
            <if test="Minuses!=null and Minuses.size > 0" >
                <foreach collection="Minuses" item="Minus" open="and not concat(Name,Resume) regexp concat_ws('|'," close=")" separator=",">
                    #{Minus}
                </foreach>
            </if>
        </where>
    </select>
</mapper>