<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cse.Mapper.MessageMapper">
    <select id="getMessageByRule" resultType="com.example.cse.Entity.InformationClass.Message">
        select * from message
        <where>
            <if test="Mid != null">
                message.Mid = #{Mid}
            </if>
        </where>
    </select>

    <insert id="newMessage">
        insert into message (Title, ReleaseTime, OutTime, Visual, message) VALUES (#{Title}, #{ReleaseTime}, #{OutTime}, #{Visual},#{message})
    </insert>

    <update id="updateMessage">
        update message
            <set>
                <if test="Title != null"> Title = #{Title}, </if>
                <if test="ReleaseTime != null"> ReleaseTime = #{ReleaseTime}, </if>
                <if test="OutTime != null"> OutTime = #{OutTime}, </if>
                <if test="Visual != null"> Visual = #{Visual}, </if>
                <if test="message != null"> message = #{message} </if>
            </set>
        where Mid = #{Mid};
    </update>

    <select id="getMessageClassType" resultType="java.lang.String">
        select Type from information_class where Cid in (select Cid from message_information_class where Mid = #{Mid} limit 1);
    </select>
</mapper>