<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cse.Mapper.MessageMapper">
    <select id="getMessageByRule" resultType="com.example.cse.Entity.InformationClass.Message">
        select * from message
        <where>
            <if test="Mid != null">
                message.Mid = #{Mid}
            </if>
            <if test="RelativeInformationClass!=null">
                and Mid in (select Mid from cse.message_information_class where Cid = #{RelativeInformationClass})
            </if>
            <if test="RelativeLocation!=null">
                and Mid in (select Mid from message_location where Lid = #{RelativeLocation})
            </if>
        </where>
        order by ReleaseTime desc;
    </select>

    <insert id="newMessage" useGeneratedKeys="true" keyProperty="mid">
        insert into message (Title, ReleaseTime, OutTime, Time, message) VALUES (#{title}, #{releaseTime}, #{outTime}, #{time},#{message})
    </insert>

    <update id="updateMessage">
        update message
            <set>
                <if test="title != null"> Title = #{title}, </if>
                <if test="releaseTime != null"> ReleaseTime = #{releaseTime}, </if>
                <if test="outTime != null"> OutTime = #{outTime}, </if>
                <if test="time != null"> Time = #{time}, </if>
                <if test="message != null"> message = #{message} </if>
            </set>
        where Mid = #{Mid};
    </update>

    <select id="getMessageClassType" resultType="java.lang.String">
        select Type from information_class where Cid in (select Cid from message_information_class where Mid = #{mid}) limit 1;
    </select>

    <insert id="newMessageRelationClass">
        insert into message_information_class (Mid, Cid) VALUES (#{Mid}, #{Cid});
    </insert>

    <insert id="newMessageRelationLocation">
        insert into message_location (Mid, Lid) VALUES (#{Mid}, #{Lid});
    </insert>

    <select id="searchMessage" resultType="com.example.cse.Entity.InformationClass.Message">
        select * from message
        <where>
            <if test="Adds!=null and Adds.size > 0" >
                <foreach collection="Adds" item="Add" open="concat(Title,message->'$.message') regexp concat_ws('&amp;'," close=")" separator=",">
                    #{Add}
                </foreach>
            </if>
            <if test="Defaults!=null and Defaults.size > 0" >
                <foreach collection="Defaults" item="Default" open="and concat(Title,message->'$.message') regexp concat_ws('|'," close=")" separator=",">
                     #{Default}
                </foreach>
            </if>
            <if test="Minuses!=null and Minuses.size > 0" >
                <foreach collection="Minuses" item="Minus" open="and not concat(Title,message->'$.message') regexp concat_ws('|'," close=")" separator=",">
                     #{Minus}
                </foreach>
            </if>
        </where>
    </select>
</mapper>