<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.example.cse.Mapper.UserMapper">
    <!--select查询语句-->
    <select id="findAll" resultType="com.example.cse.Entity.UserClass.User">
        select * from `cse`.`user`;
    </select>

    <select id="getUserByNamePass" resultType="com.example.cse.Entity.UserClass.User">
        select * from  `cse`.`user` where `cse`.`user`.`UserCode` = #{userCode} and `UserPass` = #{userPass} ;
    </select>

    <select id="getUserByUid" resultType="com.example.cse.Entity.UserClass.User">
        select * from `cse`.user where Uid = #{Uid};
    </select>

    <insert id="newUser">
        insert into cse.user (UserCode, UserPass, UserName, Grade, Profession, Sex, UserModel) VALUES (#{userCode},#{userPass},#{userName},#{grade},#{profession},#{sex},#{userModel})
    </insert>

    <select id="checkUserExist" resultType="Integer">
        select count(*) from cse.user where UserCode = #{userCode};
    </select>

    <update id="updateUser" >
        update user
            <set>
                <if test="userName!=null"> UserName = #{userName},</if>
                <if test="grade!=null"> Grade = #{grade},</if>
                <if test="profession!=null"> Profession = #{profession},</if>
                <if test="sex!=null"> Sex = #{sex},</if>
                <if test="userModel!=null">UserModel = #{userModel}</if>
            </set>
        where Uid = #{uid}
    </update>
</mapper>
